body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  background: $charcoal;
  max-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

@media (max-width: 540px) {
  body {
    width: 100%;
    background-color: $white;
  }
}
