.rightPart {
  max-width: 30rem;
  flex-direction: row;
  justify-content: flex-end;
  display: flex;
  margin-left: 1rem;
  img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 540px) {
  .rightPart {
    display: block;
    max-width: 100vw;
    margin-left: 0;

    div {
      width: 100%;
      img {
        max-width: 100%;
        display: block; /* 確保圖片不會有任何未使用的空間或行高影響 */
        height: auto;
      }
    }
  }
}
